html {
    font-size: 16px
}


body {
    background-color: #F0E2DB;
    font-family: "Helvetica Neue", "Segoe UI", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;;
    transition: 1s;
    user-select: none;
    -webkit-user-select: none;
}

body.open {
    animation: bg-change 1s 1;
    -webkit-animation: bg-change 1s 1;
    background-color: #FADBDD;
    transition: 1s;
}

@keyframes bg-change {
    0% {
        background-color: #F0E2DB;
    }
    100% {
        background-color: #FADBDD;
    }
}

@-webkit-keyframes bg-change {
    0% {
        background-color: #F0E2DB;
    }
    100% {
        background-color: #FADBDD;
    }
}


.target-date {
    font-size: 3rem;
    margin: 1rem;
    /*color: #c3c3c3;*/
    font-style: italic;
    text-align: center;
    font-weight: bold;
}
.tips {
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    color: black;
    width: 100%;
}

.typed-text {
    margin: 10px 50px;
    letter-spacing: 0.4rem;
    font-weight: 300;
    color: black;
    font-style: italic;
    position: fixed;
    font-size: 1.5rem;
}


#canvas {
    position: fixed;
    display: block;
}