html {
    font-size: 16px
}

[v-cloak] {
    display: none;
}


body {
    background-color: #FADBDD;
    font-family: "Helvetica Neue", "Segoe UI", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;;
    transition: 1s;
    user-select: none;
    -webkit-user-select: none;
}

body.open {
    animation: bg-change 1s 1;
    -webkit-animation: bg-change 1s 1;
    background-color: #000000;
    transition: 1s;
}

@keyframes bg-change {
    0% {
        background-color: #FADBDD;
    }
    100% {
        background-color: #000000;
    }
}

@-webkit-keyframes bg-change {
    0% {
        background-color: #FADBDD;
    }
    100% {
        background-color: #000000;
    }
}

.tips {
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    z-index: 2;
    width: 100%;
}


.target-date {
    font-size: 3rem;
    margin: 1rem;
    color: black;
    font-style: italic;
    text-align: center;
    font-weight: 400;
}

.target-date.dateColorChange {
    animation: date-color-change 1s 1;
    -webkit-animation: date-color-change 1s 1;
    color: white;
}

@keyframes date-color-change {
    0% {
        color: black;
    }
    100% {
        color: white;
    }
}

@-webkit-keyframes date-color-change {
    0% {
        color: black;
    }
    100% {
        color: white;
    }
}

.tips-text {
    font-weight: 300;
    font-size: 2rem;
    color: black;
}


.typed-text {
    margin: 10px 50px;
    letter-spacing: 1rem;
    font-weight: 300;
    color: #D2D2D4;
    font-style: italic;
    position: fixed;
    font-size: 1.5rem;
    z-index: 4;
}


canvas {
    position: fixed;
    display: block;
}